html{
    font-size: 10px;

}

body{
    font-size: 1.6rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.layout{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #F7F8FD;
    padding: 3rem;
}

.layout__main{
    width: 100%;
}

.main__container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ED4F4F;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 300ms linear;
}

.main__btn:hover{
    background-color: #bf3f3f;
}

.btn__icon{
    font-size: 1.4rem;
}
.btn__text{
    font-weight: 500;
}

.main__notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
}

.notes__note{
    width: calc(25% - 2rem);
    opacity: 0;
    transform: scale(0);
    transition: all 300ms linear;
}

.note--visible{
    opacity: 1;
    transform: scale(1);
}

.note--visible-no-transition{
    opacity: 1;
    transform: scale(1);
    transition: none;
}

.note__header{
    color: #fff;
    background-color: #ED4F4F;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header__input{
    background-color: transparent; 
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}

.header__input::placeholder {
    color: #fff;
    opacity: 1; 
}


.note__icon{
    cursor: pointer;
}

.note__body{
    width: 100%;
    height: 40rem;
    border-radius: 0 0 5px 5px;
    border: none;
    outline: none;
    resize: none;
    padding: 2rem;
    font-weight: 500;
    background-color: #dedcdc;
    text-align: left;
}


